{% extends 'base.html' %}

{% block extrahead %}
{% load static %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


		{% if next %}
		{% if user.is_authenticated %}
		<p>Your account doesn't have access to this page. To proceed,
			please login with an account that has access.</p>
		{% else %}
		<p>Please Login to See Restricted Content.</p>
		{% endif %}
		{% endif %}

		<form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
			<h2 class="form-signin-heading">Please Login</h2>
			{% csrf_token %}
			<div class="form-group">
				<label>{{ form.username.label_tag }}</label>
				{{form.username}}
			</div>
			<div class="form-group">
				<label>{{ form.password.label_tag }}</label>
				{{form.password}}
			</div>
		<table>
			<tr>
				<td>{{ form.username.label_tag }}</td>
				<td>{{ form.username }}</td>
			</tr>
			<tr>
				<td>{{ form.password.label_tag }}</td>
				<td>{{ form.password }}</td>
			</tr>
		</table>

		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ '/breveurl/home' }}" />
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
		</form>

		{# Assumes you setup the password_reset view in your URLconf #}
		
{% endblock %}
